{{template "base" .}}
{{define "title"}}Create Post{{end}}
{{define "content"}}
  <form autocomplete="off" class="container" action="/create/post" method="POST">

    <div class="wrapper bg-light">
        <label for="title-input" class="form-label">Title</label>
        <input maxlength="100" name="title" type="text" class="form-control" id="title-input" required>
        <div class="form-text">Maximum of 100 characters</div>
    </div>

    <div class="wrapper bg-light">
        <label for="text-input" class="form-label">Text</label>
        <textarea name="text" maxlength="10000" id="text-input" rows="3" required></textarea>
        <div class="form-text">Maximum of 10000 characters</div>
    </div>

    <div class="wrapper bg-light">
      <h6>Type your hashtag & separate them with a space.</h6>
      <p class="form-text">Maximum of 30 characters and no more than 50 tags</p>
      <input type="text" id="hashtags" autocomplete="off">
      <textarea type="text" name="tags" class="d-none" id="get-tags" required></textarea>
      <div class="tag-container">
      </div>
    </div>

    <div class="btn-create-class">
      <button type="submit" class="btn btn-primary" id="btn-create">Post it!</button>
    </div>
</form>
<script src="/js/hashtag.js"></script>
{{end}}