{{template "base" .}}
{{define "title"}}Home{{end}}
{{define "content"}}
<div class="container" style="width: 70%;">
  <!--  -->
  {{if eq .TotalPosts 0}}
  <h3 class="text-muted">No Posts Yet. <a href="/create/post" class="text-reset">Create One</a>.</h3>
  {{end}}
  <!--  -->
  {{range .Posts}}
  <div class="d-flex position-relative bg-light">
    <img src="/img/1.jpg" style="max-width:200px;width:100%;max-height:250px;height:100%;" class="flex-shrink-0 me-3" alt="...">
    <div>
      <h5 class="mt-0">{{.Title}}</h5>
      <p><i>{{.Username}} | {{.CreatedAt}}</i></p>
      <p>{{printf "%.250s" .Text}}...</p>
      <a href="/posts?id={{.ID}}" class="stretched-link link-info"><i>Read more</i></a>
    </div>
  </div>
  <br>
  {{end}}
</div>
{{end}}