{{template "base" .}}
{{define "title"}}Post page{{end}}
{{define "navbar"}}
{{end}}
{{define "content"}}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col-sm-8 main">
            <div class="panel panel-white post">
                <div class="post-heading">
                    <div class="pull-left image">
                        <img src="/img/user.png" class="img-circle avatar" alt="user profile image">
                    </div>
                    <div class="pull-left meta">
                        <div class="title h6">
                            <a href="/profile?username={{.Post.Username}}"><b>{{.Post.Username}}</b></a>
                            made a post.
                        </div>
                        <h6 class="text-muted time">{{.Post.When}}</h6>
                    </div>
                </div>
                <div class="post-image">
                    <img src=""><img src="/img/1.jpg" class="image" alt="image post">
                </div>
                <div class="post-description">
                    <h4>{{.Post.Title}}</h4>
                    <p>{{.Post.Text}}</p>
                    <div class="stats">
                        <a href="javascript:void(0);" class="btn btn-default stat-item">
                            <i class="fa fa-thumbs-up icon"></i>{{.Post.Votes.Likes}}
                        </a>
                        <a href="javascript:void(0);" class="btn btn-default stat-item">
                            <i class="fa fa-thumbs-down icon"></i>{{.Post.Votes.Dislikes}}
                        </a>
                    </div>
                </div>
                <div class="post-footer">
                    <div class="input-group"> 
                        <input class="form-control" placeholder="Add a comment" type="text">
                        <span class="input-group-addon">
                            <a href="javascript:void(0);"><i class="fa fa-edit"></i></a>  
                        </span>
                    </div>
                    <ul class="comments-list">
                        <li class="comment">
                            <a class="pull-left" href="javascript:void(0);">
                                <img class="avatar" src="/img/user.png" alt="avatar">
                            </a>
                            <div class="comment-body">
                                <div class="comment-heading">
                                    <h4 class="user">John dOE</h4>
                                    <h5 class="time">7 minutes ago</h5>
                                </div>
                                <p>I really love this picture.I really love this picture. I really love this picture. I really love this picture. I really wish i could have been there.</p>
                                <div class="stats">
                                    <a href="javascript:void(0);" class="btn btn-default stat-item">
                                        <i class="fa fa-thumbs-up icon"></i>{{.Post.Votes.Likes}}
                                    </a>
                                    <a href="javascript:void(0);" class="btn btn-default stat-item">
                                        <i class="fa fa-thumbs-down icon"></i>{{.Post.Votes.Dislikes}}
                                    </a>
                                </div>            
                            </div>
                        </li>
                        <li class="comment">
                            <a class="pull-left" href="javascript:void(0);">
                                <img class="avatar" src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="avatar">
                            </a>
                            <div class="comment-body">
                                <div class="comment-heading">
                                    <h4 class="user">John Doe</h4>
                                    <h5 class="time">3 minutes ago</h5>
                                </div>
                                <p>I think I might you this for one of my projects.</p>
                                <div class="stats">
                                    <a href="javascript:void(0);" class="btn btn-default stat-item">
                                        <i class="fa fa-thumbs-up icon"></i>{{.Post.Votes.Likes}}
                                    </a>
                                    <a href="javascript:void(0);" class="btn btn-default stat-item">
                                        <i class="fa fa-thumbs-down icon"></i>{{.Post.Votes.Dislikes}}
                                    </a>
                                </div>            
                            </div>
                        </li>
                        <li class="comment">
                            <a class="pull-left" href="javascript:void(0);">
                                <img class="avatar" src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="avatar">
                            </a>
                            <div class="comment-body">
                                <div class="comment-heading">
                                    <h4 class="user">John Doe</h4>
                                    <h5 class="time">10 seconds ago</h5>
                                </div>
                                <p>Wow! This is gorgeous.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>        
    </div>
</div>
{{end}}