{{template "base" .}}
{{define "title"}}Profile{{end}}
{{define "navbar"}}
{{end}}
{{define "content"}}
<div class="container main">
  <div class="row profile">
    <div class="col-3">
      <div style="width: 80%; height: 80%;">
        <img src="/img/user.png" class="card-img-top" alt="avatar">
      </div>
    </div>
    <div class="col-sm-6">
        <div class="conatiner">
          <p class="font-monospace">Username: <b>{{.User.Username}}</b></p>
          <p class="font-monospace">Email: <b>{{.User.Email}}</b></p>
          <p class="font-monospace">Total created posts: <b>{{.TotalPosts}}</b></p>
          <p class="font-monospace">Reputation: <b>{{.User.Reputation}}</b></p>
          <p class="font-monospace">Joined Date: <b>{{.User.CreatedAt}}</b></p>
          <p class="font-monospace"><a href="/posts/myposts?username={{.User.Username}}" class="text-decoration-none link-info"><b>See posts created by me</b></a></p>
        </div>
    </div>
  </div>
</div>
{{end}}