{{template "base" .}}
{{define "title"}}Login{{end}}
{{define "navbar"}}
{{end}}
{{define "content"}}
<form action="/accounts/login" method="POST">
    <div class="container auth-form">
        <!-- Login -->
        <div class="mb-3">
            <label for="InputLogin1" class="form-label">Username</label>
            <input type="text" class="form-control" name="username" id="InputLogin1" pattern="[a-zA-Z0-9]+" maxlength="16"
                placeholder="Sean" required>
        </div>
        <!-- Password -->
        <div class="mb-3">
            <label for="InputPassword1" class="form-label">Password</label>
            <input id="password" class="form-control" name="password" type="password" pattern="^\S{6,}$"
                placeholder="Password" required>
        </div>
        <!-- HIDDEN -->
        <input type="hidden" name="next" value={{.Path}} />
        <!-- Submit -->
        <button type="submit" class="btn btn-primary">Login</button>
    </div>
    <div class="text-center">
        <br>
        <p class="warning">{{.WarningMessage}}</p>
    </div>
</form>
{{end}}